/**
 * Error 404
 *
 *
 * @package LedermannFilms
 */
.error404 {
	@extend %position-relative;

	height: 100vh;

	main {
		@include absolute(top 0 right 0 bottom 0 left 0);
	}

	.Site-container {
		@extend %position-relative;

		z-index: 2;
	}

	&__image {
		@include absolute(top 0 right 0 bottom 0 left 0);
		@extend .d-flex, .align-items-center, .justify-content-center;
		@extend %overflow-hidden;

		z-index: 1;

		&::after {
			@include absolute(top 0 right 0 bottom 0 left 0);

			background: linear-gradient(
					180deg,
					rgba(the_color(gray, very-dark-03), 0) 0%,
					the_color(gray, very-dark-03) 100%
				),
				linear-gradient(
					0deg,
					rgba(the_color(gray, very-dark-01), 0.25),
					rgba(the_color(gray, very-dark-01), 0.25)
				);
			content: '';
		}

		&[data-scroll] {
			transform: translate3d(0, 100%, 0);
			transition: transform 1.6s map-get($easings, custom),
				opacity 0.8s map-get($easings, custom);
			transform-style: preserve-3d;

			opacity: 0;
		}

		&[data-scroll].is-inview {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}

		img {
			@include aspect-ratio-size(108.5 * $scale-factor, 'width');
			@include aspect-ratio-size(61 * $scale-factor, 'height');

			border-radius: #{3 * $scale-factor}px;
		}
	}
}
