/**
 * Button
 *
 *
 *
 *
 */
.Button {
	@extend .d-flex, .align-items-center;
	@extend %text-transform-uppercase, %white-space-nowrap;
	@include padding(top 13px right 16px bottom 13px left 16px);
	@include font-sizes(14);

	border: 1px solid the_color(white);
	border-radius: 26px;
	line-height: (16/14);

	@include media-breakpoint-up(md) {
		@include padding(right 52px left 52px);
	}

	svg {
		@include margin(left 14px);
		@include size($base-line-height-px);

		fill: currentColor;
	}
}
