/**
 * Content
 *
 *
 *
 *
 *
 */
.Content {
	@include aspect-ratio-size(26 * $scale-factor, 'margin-top');
	@include aspect-ratio-size(36 * $scale-factor, 'margin-bottom');

	&__text {
		@extend %font-weight-light;
		@include aspect-ratio-size(54, 'font-size');
		@include aspect-ratio-size(60, 'line-height');

		font-feature-settings: 'salt' on;

		&[data-scroll='true'] {
			.lineParent {
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			}

			.lineChild {
				@extend %white-space-nowrap;

				transition: transform 0.8s map-get($easings, ease-out-expo) 0.4s;
				transform: translate3d(0, 100%, 0);
				transform-origin: center top;
				transform-style: preserve-3d;
			}

			&.is-inview {
				.lineChild {
					transform: none;
				}
			}
		}
	}
}
