/**
 * Contacts
 *
 *
 *
 *
 */
.Contacts {
	@include autoAlpha(0);
	@include fixed(top 0 right 0);
	@extend %font-weight-light, %overflow-hidden;

	@include aspect-ratio-size(4 * $scale-factor, 'padding-top');
	@include aspect-ratio-size(11 * $scale-factor, 'padding-right');
	@include aspect-ratio-size(4 * $scale-factor, 'padding-bottom');
	@include aspect-ratio-size(11 * $scale-factor, 'padding-left');

	@include media-breakpoint-up(md) {
		width: #{(619 * 100) / $prototype-width-unitless}vw;
	}

	border-radius: 0px 0px 0px 2 * 8px;
	z-index: 3;

	&__background {
		@include absolute(top 0 right 0 bottom 0 left 0);
		@include size(100%);

		transform: scaleY(0);
		transform-origin: center 0;
		background-color: the_color(gray, very-dark-02);
		border-radius: 0px 0px 0px 2 * 8px;

		z-index: 1;
	}

	&__row {
		@include padding(top 2 * 8px bottom 2 * 8px);
		@extend .d-flex, .align-items-end;
		@extend %position-relative;
		@include margin(bottom -1px);

		white-space: pre-line;

		z-index: 2;

		&:first-child,
		&:last-child {
			@include margin(bottom 0);

			border-bottom: none;
		}

		hr {
			@include absolute(top 100% right 0 left 0);
			@include size(100%, 1px);

			background-color: the_color(white);
			transform-origin: 0 center;
			transform: scaleX(0);
		}

		span:first-child {
			@extend %font-weight-regular, %text-transform-uppercase;

			min-width: #{(97.46 * 100) / $prototype-width-unitless}vw;
		}
	}

	&__close {
		@extend .d-flex, .align-items-center;
		@extend %overflow-hidden;

		svg {
			@include size(12px);
			@include margin(left 2 * 8px);

			fill: currentColor;
		}
	}
}
