/**
 * Footer
 *
 *
 *
 *
 */
@use "sass:math";

.Footer {
	@extend %overflow-hidden;

	.H0 {
		@include aspect-ratio-size(232, 'line-height');
	}

	&__items {
		@extend %list-style-type-none;
	}

	&__item {
		$this: &;

		@extend %position-relative;

		&:nth-child(1) {
			@extend %text-align-center;
		}

		&:nth-child(2) {
			@extend %text-align-left;
		}

		&:nth-child(3) {
			@extend %text-align-right;
		}

		&::after {
			@include absolute(right 0 bottom 0 left 0);
			@include size(100%, 1px);
			@extend .d-block;

			background-color: the_color(white);
			transition: transform 1.4s map-get($easings, ease-out-expo) 0.8s;
			transform-style: preserve-3d;
			content: '';

			@at-root #{ $this }[data-scroll]#{ $this }--left::after {
				transform-origin: left center;
			}

			@at-root #{ $this }[data-scroll]#{ $this }--right::after {
				transform-origin: right center;
			}

			@at-root #{ $this }[data-scroll]::after {
				transform: scaleX(0);
			}

			@at-root #{ $this }[data-scroll].is-inview::after {
				transform: scaleX(1);
			}
		}
	}

	&__copyright {
		@extend %list-style-type-none, %text-transform-uppercase, %overflow-hidden;
		@include margin(top #{(30 - 8)}px bottom #{(62 - 8)}px);
		@extend .d-flex, .justify-content-between, .flex-column, .flex-md-row;

		font-size: 14px;
		line-height: math.div(16, 14);

		&[data-scroll] {
			a,
			button {
				transform: translate3d(0, 100%, 0);
				transform-origin: center top;
				transform-style: preserve-3d;
			}

			button {
				transition: transform 0.8s map-get($easings, ease-out-expo);
			}

			a {
				transition: transform 0.8s map-get($easings, ease-out-expo);
			}
		}

		&[data-scroll].is-inview {
			a,
			button {
				transform: translate3d(0, 0, 0);
			}
		}

		a {
			@extend .d-inline-block;
			@extend %position-relative;
			@include padding(top 8px bottom 8px);

			&::after {
				@include absolute(right 0 bottom 0 left 0);
				@extend .d-block;
				@include size(100%, 1px);

				background-color: the_color(white);
				transform-style: preserve-3d;
				transform: scaleX(0);
				transform-origin: right center;
				transition: transform 0.8s map-get($easings, ease-out-expo);

				content: '';
			}

			&:hover::after {
				transform-origin: left center;
				transform: scaleX(1);
			}
		}
	}
}
