/**
 * Footer
 *
 *
 *
 *
 */
.Footer {
	&__items {
		@extend %list-style-type-none;
	}

	&__item {
		border-bottom: 1px solid the_color(white);

		&:nth-child(1) {
			@extend %text-align-center;
		}

		&:nth-child(2) {
			@extend %text-align-left;
		}

		&:nth-child(3) {
			@extend %text-align-right;
		}
	}

	&__copyright {
		@extend %list-style-type-none, %text-transform-uppercase;
		@include margin(top #{(30 - 8)}px bottom #{(62 - 8)}px);
		@extend .d-flex, .justify-content-between;

		font-size: 14px;
		line-height: (16/14);

		a {
			@extend .d-inline-block;
			@include padding(top 8px bottom 8px);

			transition: border-color 0.3s map-get($easings, ease-out-expo);
			border-bottom: 1px solid rgba(the_color(white), 0);

			&:hover {
				border-bottom: 1px solid the_color(white);
			}
		}
	}
}
