/**
 * H0
 *
 * @package WordPress
 * @subpackage Ledermannfilms
 */
.H0 {
	@extend %font-weight-fine, %margin-0, %white-space-nowrap;
	@include aspect-ratio-size(232, 'font-size');
	@include margin(top 0 bottom 0);

	font-feature-settings: 'salt' on;
	line-height: 1.4;

	&__line {
		@extend .d-block;
		@extend %overflow-hidden;

		span {
			@extend .d-inline-block;

			transform-origin: center top;
			transform-style: preserve-3d;
			transform: translate3d(0, 100%, 0);

			transition: transform 1.4s map-get($easings, custom);
		}

		&[data-scroll].is-inview {
			span {
				transform: none;
			}
		}

		&:not(:first-child) {
			@include aspect-ratio-size(-16 * $scale-factor, 'margin-top');
		}
	}
}
