/**
 * H0
 *
 *
 *
 *
 *
 */
.H0 {
	@extend %font-weight-fine, %margin-0;
	@include aspect-ratio-size(232, 'font-size');
	@include aspect-ratio-size(232, 'line-height');
	@include margin(top 0 bottom 0);

	font-feature-settings: 'salt' on;
	perspective: 600px;

	[data-scroll] {
		span {
			@extend .d-inline-block;

			transform-origin: center top;
			transform-style: preserve-3d;
			transform: translate3d(0, 100%, 0);

			transition: transform 0.8s map-get($easings, ease-out-cubic);
		}

		@media (max-aspect-ratio: #{$prototype-width-unitless}/#{$prototype-height-unitless}) {
			clip-path: polygon(
				0 0,
				100% 0,
				100% calc(100% + #{vw_size(40)}),
				0% calc(100% + #{vw_size(40)})
			);
		}
		@media (min-aspect-ratio: #{$prototype-width-unitless}/#{$prototype-height-unitless}) {
			clip-path: polygon(
				0 0,
				100% 0,
				100% calc(100% + #{vh_size(40)}),
				0% calc(100% + #{vh_size(40)})
			);
		}
	}

	[data-scroll].is-inview {
		span {
			transform: none;
		}
	}

	&__line {
		@extend .d-block;

		&:not(:first-child) {
			@media (max-aspect-ratio: #{$prototype-width-unitless}/#{$prototype-height-unitless}) {
				transform: translate3d(0, vw_size(-6 * $scale-factor), 0);
			}
			@media (min-aspect-ratio: #{$prototype-width-unitless}/#{$prototype-height-unitless}) {
				transform: translate3d(0, vh_size(-6 * $scale-factor), 0);
			}
		}
	}
}
