/**
 *
 *
 *
 *
 *
 */
.Hero {
	hr {
		@include size(100%, 1px);
		@include margin(top 3 * 8px bottom 3 * 8px);

		background-color: the_color(white);
	}

	&__body {
		@extend %overflow-hidden, %position-relative;

		border-radius: $base-line-height-px;
		height: 88px * 8;

		@include media-breakpoint-up(md) {
			height: 111px * 8;
		}
	}

	&__content {
		@include margin(top 18 * 8px bottom 6 * 8px);
		@extend %position-relative;

		z-index: 2;

		@include media-breakpoint-up(md) {
			@include margin(bottom 16 * 8px);
		}
	}

	&__thumbnail {
		@include absolute(top 0 right 0 bottom 0 left 0);

		z-index: 1;
	}

	&__title {
		@extend %font-weight-fine;
		@include font-sizes(54, 232);
		@include margin(top 0 bottom 0);

		line-height: (($base-line-height * 8) / 232);
		font-feature-settings: 'salt' on;
	}

	&__footer {
		@extend %position-relative;
		@include margin(top 16 * 8px);

		z-index: 2;

		@include media-breakpoint-up(md) {
			@include margin(top 6 * 8px);
		}
	}

	&__location {
		@extend .d-flex,
			.flex-column,
			.flex-md-row,
			.justify-content-md-between,
			.align-items-md-center;
		@extend %text-transform-uppercase;
		@include font-sizes(14);

		line-height: (16/14);

		svg {
			@include size(32px);
		}
	}
}
