/**
 * Label
 *
 *
 *
 *
 *
 */
.Label {
	@extend .d-flex, .align-items-center;
	@extend %text-transform-uppercase;

	font-size: 11px;
	line-height: (16/11);

	&::before {
		@extend .d-inline-block;
		@include margin(right 8px);

		content: '(';
	}
	&::after {
		@extend .d-inline-block;
		@include margin(left 8px);

		content: ')';
	}

	svg {
		@include margin(right 8px left 8px);
		@include size(16px, 8px);

		min-width: 16px;
	}
}
