/**
 * Menu
 *
 *
 *
 *
 *
 */
.Menu {
	$this: &;

	@extend .d-flex, .flex-row;

	@include margin(top -8px bottom -8px);

	&__items {
		@extend %list-style-type-none;
		@extend .d-flex, .flex-row;

		@include margin(right -12px left -12px);
	}

	&__item {
		@extend .d-block;
		@include margin(right 16px left 16px);

		&:first-child {
			@include margin(left 0);
		}

		&:last-child {
			@include margin(right 0);
		}

		a,
		button {
			@extend .d-block;
			@extend %overflow-hidden;
			@include margin(right 12px left 12px);

			span {
				@include padding(top 8px bottom 8px);
				@extend .d-inline-block;
				@extend %position-relative;

				transform-origin: center top;
				transform-style: preserve-3d;
				transform: translateY(calc(100% + 8px));

				transition: transform 0.8s map-get($easings, custom);

				&::before,
				&::after {
					@include absolute(right 0 bottom 0 left 0);
					@extend .d-block;
					@include size(100%, 1px);

					background-color: the_color(white);
					transform-style: preserve-3d;
					transform: scaleX(0);
					transform-origin: right center;
					transition: transform 0.8s map-get($easings, custom);

					content: '';
				}

				&:hover::before {
					transform-origin: left center;
					transform: scaleX(1);
					transition-delay: 0s !important;
				}
			}
		}
	}

	&.is-inview {
		#{ $this }__item {
			a,
			button {
				span {
					transform: none;
				}

				&[aria-current='page'] span::after {
					transform: scaleX(1);
				}
			}

			@for $i from 1 through 4 {
				&:nth-child(#{$i}) a,
				&:nth-child(#{$i}) button {
					span {
						transition-delay: 2.1s + ($i * 0.1);

						&::after {
							transition-delay: 2.1s + ($i * 0.1);
						}
					}
				}
			}
		}
	}
}
