/**
 * Menu
 *
 *
 *
 *
 *
 */
.Menu {
	$this: &;

	@extend .d-flex, .flex-row;

	@include margin(top -8px bottom -8px);

	&__items {
		@extend %list-style-type-none;
		@extend .d-flex, .flex-row;
	}

	&__item {
		@extend .d-block;
		@include margin(right 16px left 16px);

		&:first-child {
			@include margin(left 0);
		}

		&:last-child {
			@include margin(right 0);
		}

		a,
		button {
			@extend .d-block;
			@extend %overflow-hidden, %position-relative;
			@include padding(top 8px bottom 8px);
			@include margin(right 12px left 12px);

			span {
				@extend .d-inline-block;
				transform-origin: center top;
				transform-style: preserve-3d;
				transform: translateY(100%);

				transition: transform 0.8s map-get($easings, ease-out-cubic);
			}

			&::after {
				@include absolute(right 0 bottom 0 left 0);
				@extend .d-block;
				@include size(100%, 1px);

				background-color: the_color(white);
				transform-style: preserve-3d;
				transform: scaleX(0);
				transform-origin: left center;
				transition: transform 0.8s map-get($easings, ease-out-expo);

				content: '';
			}

			&:hover::after {
				transform: scaleX(1);
			}
		}
	}

	&.is-inview {
		#{ $this }__item {
			a,
			button {
				span {
					transform: none;
				}

				&[aria-current='page']::after {
					transform: scaleX(1);
				}
			}

			@for $i from 1 through 4 {
				&:nth-child(#{$i}) a,
				&:nth-child(#{$i}) button {
					transition-delay: 0.4 + $i * 0.5s;

					span {
						transition-delay: 0.4 + $i * 0.1s;
					}
				}
			}
		}
	}
}
