/**
 * Modal
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */
.Modal {
	@include fixed(top 0 right 0 bottom 0 left 0);
	@include size(100vw, 100vh);

	@extend %Pointer-events-auto;

	@include aspect-ratio-size(6 * $scale-factor, 'padding-top');
	@include aspect-ratio-size(6 * $scale-factor, 'padding-bottom');

	background-color: the_color(gray, very-dark-01);
	z-index: 5;

	button {
		@include absolute(bottom 0 left 0);
		@include aspect-ratio-size(10 * $scale-factor, 'margin-left');
		@include aspect-ratio-size(9 * $scale-factor, 'margin-bottom');
		z-index: 10;
	}
}

.modal-enter {
	opacity: 0;
	transform: translate3d(0, 100%, 0);
}
.modal-enter-active {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: transform 1.6s map-get($easings, custom), opacity 0.8s map-get($easings, custom);
	transform-style: preserve-3d;
}
.modal-exit {
	opacity: 1;
}
.modal-exit-active {
	opacity: 0;
	transform: translate3d(0, 100%, 0);
	transition: transform 1.6s map-get($easings, custom), opacity 0.8s map-get($easings, custom);
	transform-style: preserve-3d;
}
