/**
 * Project card
 *
 *
 *
 *
 *
 */
.Project-card {
	$this: &;

	@extend .d-block;

	&__body {
		@extend %overflow-hidden, %position-relative;

		border-radius: $base-line-height-px;

		&#{&}--has-video:hover {
			// #{$this}__thumbnail {
			// 	opacity: 0;
			// }

			#{$this}__video {
				opacity: 1;
			}
		}
	}

	&__thumbnail {
		@include size(100%, auto);
		@extend %overflow-hidden;

		max-width: 100%;

		transform: translate3d(0, 100%, 0);
		transition: transform 1.4s map-get($easings, custom),
			opacity 1.3s map-get($easings, custom) 0.3s;
		transform-style: preserve-3d;
		border-radius: $base-line-height-px;

		z-index: 2;

		&.is-inview {
			transform: translate3d(0, 0, 0);
			z-index: 1;
		}
	}

	&__video {
		@include absolute(top 0 right 0 bottom 0 left 0);

		transition: opacity 1.4s map-get($easings, ease-out-expo);
		opacity: 0;

		z-index: 1;

		video {
			@include size(100%);

			object-fit: cover;
			object-position: center;
		}
	}

	&__header {
		@extend .d-flex, .justify-content-between;
		@extend %text-transform-uppercase, %overflow-hidden;
		@include margin(top 8 * 3px);

		font-size: 14px;

		&.is-inview {
			p {
				transform: translate3d(0, 0, 0);
			}
		}

		p {
			@extend %margin-0;

			transform: translate3d(0, 100%, 0);
			transition: transform 0.8s map-get($easings, ease-out-expo);
			transform-style: preserve-3d;

			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					transition-delay: 0.3 + $i * 0.15s;
				}
			}
		}
	}
}
