/**
 * Project card
 *
 *
 *
 *
 *
 */
.Project-card {
	$this: &;

	@extend .d-block;

	&__thumbnail {
		@include size(100%, auto);
		@extend %overflow-hidden;

		border-radius: $base-line-height-px;
		max-width: 100%;

		line-height: (16/14);
		transform: translate3d(0, $grid-gutter-width * 2, 0);
		transition: transform 0.8s map-get($easings, ease-out-expo);
		transform-style: preserve-3d;

		&.is-inview {
			transform: translate3d(0, 0, 0);
		}
	}

	&__header {
		@extend .d-flex, .justify-content-between;
		@extend %text-transform-uppercase, %overflow-hidden;
		@include margin(top 8 * 3px);

		font-size: 14px;

		&.is-inview {
			p {
				transform: translate3d(0, 0, 0);
			}
		}

		p {
			@extend %margin-0;

			transform: translate3d(0, 100%, 0);
			transition: transform 0.8s map-get($easings, ease-out-expo);
			transform-style: preserve-3d;

			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					transition-delay: 0.3 + $i * 0.1.4s;
				}
			}
		}
	}
}
