/**
 * Project categories
 *
 *
 *
 *
 *
 *
 */
.Project-categories {
	@extend %position-relative, %Pointer-events-none;
	@include margin(top #{5 * $scale-factor}px bottom #{5 * $scale-factor}px);

	transition: opacity 0.4s map-get($easings, custom), visibility 0.4s map-get($easings, custom);
	z-index: 1;

	@include media-breakpoint-up(md) {
		@include aspect-ratio-size(5 * $scale-factor, 'margin-top');
		@include margin(bottom 0);
	}

	&[data-scroll] {
		@include autoAlpha(0);
	}

	&[data-scroll].is-inview.is-active {
		@include autoAlpha(1);
	}

	&__items {
		@extend %list-style-type-none;
	}
	&__item {
		@extend %font-weight-light;

		// @include aspect-ratio-size(2 * $scale-factor, 'margin-top');
		// @include aspect-ratio-size(2 * $scale-factor, 'margin-bottom');
		// @include margin(top 2 * 8px bottom 2 * 8px);

		@include media-breakpoint-up(md) {
			@include aspect-ratio-size(31, 'font-size');
			@include aspect-ratio-size(28, 'line-height');
		}

		&:first-child {
			@include margin(top 0);
		}
		&:last-child {
			@include margin(bottom 0);
		}

		a {
			@extend %position-relative, %Pointer-events-auto;

			@extend .d-inline-block;

			@include aspect-ratio-size($scale-factor, 'padding-top');
			@include aspect-ratio-size($scale-factor, 'padding-bottom');

			span {
				@include absolute(top 0 left 100%);

				@include aspect-ratio-size($scale-factor, 'margin-top');
				@include aspect-ratio-size($scale-factor / 2, 'margin-left');

				@include aspect-ratio-size(16, 'font-size');
				@include aspect-ratio-size(24, 'line-height');
			}

			&::after {
				@include absolute(right 0 bottom 0 left 0);
				@extend .d-block;
				@include size(100%, 1px);

				background-color: the_color(white);
				transform-style: preserve-3d;
				transform: scaleX(0);
				transform-origin: right center;
				transition: transform 0.8s map-get($easings, custom);

				content: '';
			}

			&:hover::after,
			&[aria-current='page']::after {
				transform-origin: left center;
				transform: scaleX(1);
			}
		}
	}
}
