/**
 * Project categories
 *
 *
 *
 *
 *
 *
 */
.Project-categories {
	@extend %position-relative, %Pointer-events-none;
	@include margin(top 15 * 8px);

	z-index: 1;

	&__items {
		@extend %list-style-type-none;
	}
	&__item {
		@extend %font-weight-light;

		@include aspect-ratio-size(31, 'font-size');
		@include aspect-ratio-size(32, 'line-height');
		@include margin(top 3 * 8px bottom 3 * 8px);

		&:first-child {
			@include margin(top 0);
		}
		&:last-child {
			@include margin(bottom 0);
		}

		a {
			@extend %position-relative, %Pointer-events-auto;

			span {
				@extend .d-inline-block;
				@extend %vertical-align-middle;
				@include margin(bottom 8px left 4px);

				@include aspect-ratio-size(16, 'font-size');
				@include aspect-ratio-size(24, 'line-height');
			}

			&::after {
				@include absolute(top 50% right 0 bottom 0 left 50%);
				@extend .d-block;
				@include size(
					#{(106 * 100) / $prototype-width-unitless}vw,
					#{(56 * 100) / $prototype-width-unitless}vw
				);

				transform: translate(-50%, -50%);
				transition: opacity 0.7s map-get($easings, ease-out-expo);
				opacity: 0;

				background-image: url('../assets/images/oval.svg');
				background-size: 100%;
				content: '';
			}

			&[aria-current='page']::after {
				opacity: 1;
			}
		}
	}
}
