/**
 * Site name
 *
 *
 *
 *
 */
.Site-name {
	$this: &;

	@extend %white-space-nowrap;

	i {
		@extend .d-md-none;
		@include margin(right 16px);
	}

	&__line {
		@extend .d-block;
		@extend %overflow-hidden;

		span {
			@extend .d-inline-block;
			transform-origin: center top;
			transform-style: preserve-3d;
			transform: translateY(100%);

			transition: transform 0.8s map-get($easings, ease-out-cubic);
		}
	}

	&.is-inview {
		#{ $this }__line span {
			transform: none;
			transition-delay: 0.4 * 0.1.4s;
		}
	}
}
