/**
 * Site name
 *
 *
 *
 *
 */
.Site-name {
	$this: &;

	@extend %white-space-nowrap;

	&__line {
		@extend .d-block;
		@extend %overflow-hidden;

		span {
			@extend .d-inline-block;
			transform-origin: center top;
			transform-style: preserve-3d;
			transform: translateY(100%);

			transition: transform 0.8s map-get($easings, custom);
		}
	}

	&.is-inview {
		#{ $this }__line span {
			transform: none;
		}
	}

	svg {
		@include size(100%);
		fill: the_color(white);
	}
}
