/**
 * Tabs
 *
 *
 *
 *
 *
 *
 */
.Tabs {
	$this: &;

	@include aspect-ratio-size(26 * $scale-factor, 'margin-top');
	@include aspect-ratio-size(18 * $scale-factor, 'margin-bottom');

	&__navigation {
		@extend %list-style-type-none;
		@extend .d-flex;

		font-size: 11px;
		line-height: (16/11);

		@include margin(bottom 5 * 8px);

		li {
			@include margin(right 12px left 12px);
			@extend %overflow-hidden;

			&:last-child {
				@include margin(right 0);
			}

			&:first-child {
				@include margin(left 0);
			}

			@at-root #{$this}.is-inview {
				button {
					transform: none;
					opacity: 1;
				}
			}
		}

		button {
			@extend %text-transform-uppercase, %position-relative;
			@include padding(top 8px bottom 8px);

			color: the_color(gray, dark);
			transition: color 0.3s map-get($easings, custom);

			transform-style: preserve-3d;
			transform: translate3d(0, 100%, 0);

			transition: color 0.8s map-get($easings, ease-out-cubic),
				transform 0.8s map-get($easings, ease-out-cubic);

			opacity: 0;

			&::after {
				@include absolute(right 0 bottom 0 left 0);
				@extend .d-block;
				@include size(100%, 1px);

				background-color: the_color(white);
				transform-style: preserve-3d;
				transform: scaleX(0);
				transform-origin: right center;
				transition: transform 0.8s map-get($easings, custom);

				content: '';
			}

			&:hover,
			&.is-active {
				color: the_color(white);

				&::after {
					transform-origin: left center;
					transform: scaleX(1);
				}
			}
		}
	}

	&__content {
		@extend %font-weight-light;

		@include media-breakpoint-up(md) {
			@include aspect-ratio-size(27, 'font-size');
			@include aspect-ratio-size(30, 'line-height');
		}

		section {
			transition: 0.4s opacity map-get($easings, custom);
			opacity: 0;

			& > *:last-child {
				@include margin(bottom 0);
			}

			& > *:first-child {
				@include margin(top 0);
			}

			&.is-active {
				opacity: 1;
			}
		}

		.lineParent {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

			@for $i from 1 through 10 {
				&:nth-child(#{$i}) .lineChild {
					transition-delay: $i * 0.15s;
				}
			}

			&:not(:first-child) {
				@include aspect-ratio-size(-1 * $scale-factor, 'margin-top');
			}
		}

		.lineChild {
			@extend %white-space-nowrap;

			transition: transform 1.8s map-get($easings, custom);
			transform: translate3d(0, 100%, 0);
			transform-origin: center top;
			transform-style: preserve-3d;
			line-height: 1.4;

			&:focus {
				outline: none;
			}
		}

		@at-root #{$this}.is-inview section.is-active {
			.lineChild {
				transform: none;
			}
		}
	}
}
