/**
 * Basic typography style for copy text
 */

// @include reset-selection( get_color( black ), get_color( white ) );

h1,
.h1 {
	@extend %font-family-title, %font-weight-regular;
	@include margin(top 1em bottom 2em);
	@include font-sizes(50, 75);

	line-height: (90 / 75);
}

h2,
.h2 {
	@extend %font-weight-light, %font-family-title;
	@include font-sizes(54);
	@include margin(top 1em bottom 1em);

	line-height: (60/54);
}

h3,
.h3 {
	@extend %font-weight-light, %font-family-title;
	@include font-sizes(31);
	@include margin(top 1em bottom 0);

	line-height: (32/31);
}

h4,
.h4 {
	@extend %font-weight-regular, %font-family-title;
	@include font-sizes(35);
	@include margin(top 1em bottom 0);

	line-height: (45/30);
}

h5,
.h5 {
	@extend %font-weight-regular, %font-family-title;
	@include font-sizes(18);

	line-height: (30/30);

	@include margin(top 1em bottom 0);
}

h6,
.h6 {
}

.smallcaps {
	@extend %font-weight-regular, %text-transform-uppercase;

	font-size: 14px;
	line-height: $base-line-height-px;
}
