/**
 *
 *
 *
 *
 *
 */
.Section {
	&#{ & }--projects {
		$this: &;

		.Section--projects__items {
			@extend %list-style-type-none;
			@include margin(top #{-28 * 8}px);
		}

		.Section--projects__item {
			@warn &;
			@include margin(top 8 * 11.5px bottom 8 * 11.5px);

			&:nth-child(6n + 3) {
				.Card-project {
					@include margin(top 8 * 28px);
				}
			}
			&:nth-child(6n + 5) {
				.Card-project {
					@include margin(top 8 * 12px);
				}
			}
			&:first-child {
				@include margin(top 0);
			}
			&:last-child {
				@include margin(bottom 0);
			}
		}
	}

	&__title {
		@include font-sizes(232);
		@extend %font-weight-fine, %margin-0;

		line-height: (192/232);
	}

	&__header {
		@include margin(bottom 8 * 26px);
		hr {
			@include margin(bottom $base-line-height-px);
			@include size(100%, 1px);

			background-color: the_color(white);
		}

		h2 {
			@include font-sizes(14);
			@include margin(top 0 bottom 0);
			@extend %text-transform-uppercase;

			line-height: (16/14);
		}

		&__diamond {
			@include font-sizes(14);

			line-height: (16/14);
		}
	}
}
